@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body {
  color: rgb(20,30, 1);
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Main_Page{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}


.ijcYgp{
  width: 600px !important;
}
.margin-2{
  margin: 2% 2%; 
}

.section{
  padding: 1%;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.btn-div{margin: 1% 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parent-element .element-for-print {
  width: 600px;
  min-height: 840px;
}
.jKLQUD{
  display: block;
}

.logo-row {
  width: 250px;
  margin: 0 auto;
  text-align-last: center;
}

.logo {
  width: 100px;
  height: 100px;
  text-align: center;
}

.rsc {
  display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.d-block{
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}

.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Orange */
.idBkdM {
  border: 1px solid #F15B47;
  border-radius: 25px;
  box-shadow: rgb(0 0 0 / 15%) 0px 1px 2px 0px;
  display: inline-block;
  font-size: 14px;
  padding: 12px;
  margin: 1%;
  border-color: #F15B47;
  color: #F15B47;
  background: transparent;
  font-weight: 800;
}

.idBkdM:hover {
  background: #F15B47;
  color: white;
}

/* .idBkdM{
  
} */
.list-view{
  /* animation: 0.3s ease 0s 1 normal forwards running; */
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  transform: scale(0);
}
.react-chatbot-kit-chat-container {
  width: 380px !important;
}

.react-chatbot-kit-chat-bot-message{
  margin-left: 2%  !important;
}

.disabled{
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;

}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.react-chatbot-kit-chat-header {
  background-color: #F15B47 !important;
}

.react-chatbot-kit-chat-btn-send{
  background-color: #EEE !important;
}

.react-chatbot-kit-chat-btn-send-icon{
  fill: #F15B47 !important;
}

.header-support{
  display: flex;
  width: 100%;
  flex-direction: row;

}

.header-main{
  margin-left: 1%;
  color: white;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #F15B47 !important;
  color: #000 !important;
  border-radius: 25px;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #F15B47 !important
}

.react-chatbot-kit-user-chat-message{
  background-color: #F15B47 !important;
  color: #000 !important;
  border-radius: 25px;
}

.react-chatbot-kit-user-chat-message-arrow{
  border-left: 8px solid #F15B47 !important
}

.react-chatbot-kit-chat-message-container{
  overflow-y: scroll !important;
  height: 75% !important;
  overflow-x: clip!important;
}

.react-chatbot-kit-chat-btn-send{

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
