body {
  color: rgb(20,30, 1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Main_Page{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.ijcYgp{
  width: 600px !important;
}
.margin-left-5{
  margin-left: none; 
}

.section{
  padding: 1%;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.btn-div{margin: 1% 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parent-element .element-for-print {
  width: 600px;
  min-height: 840px;
}
.jKLQUD{
  display: block;
}

.logo-row {
  width: 250px;
  margin: 0 auto;
  text-align-last: center;
}

.logo {
  width: 100px;
  height: 100px;
  text-align: center;
}

.rsc {
  display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.d-block{
  display: block;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
